{{#foreach navigation}}
    <a href="{{url absolute="true"}}" class="self-center font-semibold uppercase rounded-md p-2 hover:bg-slate-700/80 hover:shadow-md transition-all text-gray-100">{{label}}</a>
{{/foreach}}