<div class="flex flex-col gap-2">
	{{#foreach navigation}}
    <a href="{{url absolute="true"}}" class="grow self-center font-semibold uppercase rounded-md p-2 hover:bg-slate-700/80 hover:shadow-md transition-all text-gray-100">{{label}}</a>
	{{/foreach}}
	<div class="text-slate-100 flex gap-2 m-3 justify-around">
		<a href="" class="fa-solid fa-envelope"></a>
		<a href="" class="fa-brands fa-facebook-f"></a>
		<a href="" class="fa-brands fa-twitter"></a>
		<a href="" class="fa-brands fa-instagram"></a>
		<a href="" class="fa-brands fa-youtube"></a>
		<a href="" class="fa-brands fa-tiktok"></a>
		<a href="" class="fa-brands fa-telegram"></a>
		<a href="" class="fa-solid fa-rss"></a>
	</div>
</div>